# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v6
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          node-version: ${{ matrix['node-version'] }}
      - run: bun install
      - run: bun lint
      - run: bun test
